#banner{
	background-image: url(images/image_code.jpg);
	background-size: 100%;
	color: rgba(240,240,240, 0.9);
	}
h1{
	font-size: 4em;
}
#sign-up{
	padding-top: 20px;
}
#contact{
	padding: 50px 0 20px 0;
	background: rgba(0, 0, 80, 0.9);
	color: rgba(240,240,240, 0.9);
}